.whiteRight {
  font-family: Righty;
  color: white;
}
.redRight {
  font-family: Righty;
  color: red;
}
.orangeRight {
  font-family: Righty;
  color: orange;
}
.yellowRight {
  font-family: Righty;
  color: yellow;
}
.greenRight {
  font-family: Righty;
  color: green;
}
